Repository dsavitsky-dsr/connectedhomeip, pull requests merged in 2025-08, with the labels that each got.

#4 examples/energy-gateway-app: Commodity Metering: nullable timestamp on clock error
  examples/energy-gateway-app/commodity-metering/src/CommodityMeteringEventTriggers.cpp
Labels: examples

#9 To save current changes
  src/app/clusters/commodity-tariff-server/CommodityTariffAttrsDataMgmt.h
  src/app/clusters/commodity-tariff-server/tests/TestCommodityTariffBaseDataClass.cpp
Labels: app

#10 Reverted an unwanted edit
  integrations/docker/images/base/chip-build/version
Labels: integrations, docker
